.progress_bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(33, 44%, 95%, .6);
    transform-origin: 0%;
    z-index:-1;
}
.mprogress_bar {display: none;}

#work {
    position: relative;
}
.work_inner {
    display: flex;
}

.work_left {
    position: sticky;
    top: 56px;
    left: 0;
    width: 48%;
    height: 100vh;
    background-color: #f7f2ec;
    padding: 4.8rem;
    .tit {
        font-size: 4vw;
        font-weight: 700;
        line-height: 1.6;
        font-family: var(--mainEng-font);
        border-bottom: 0.4vw solid var(--mainFont-color);
        color: var(--mainFont-color);
        margin-bottom: 9rem;
    }
    
    .tit em {
        font-family: var(--mainEng2-font);
        font-size: 1.13rem;
        font-weight: 400;
        display: block;
        color: #a5a5a5;
    }
    p {
        font-size: 1.3rem;
        color: #666;
    }
}


.work_right {
    width: 50%;
    padding: 4.8rem 0 4.8rem 2rem;
    div {margin-bottom: 4.8rem;}
    span {
        display: block;
        font-family: var(--mainEng2-font);
        font-size: 1rem;
        line-height: 140%;
        font-family: var(--mainNum-font);
        color: #999;
    }
    
    h3 {
        display: inline-block;
        font-size: 1.63rem;
        font-family: var(--mainKor-font);
        color: var(--txtFont-color);
    }
    
    p {
        font-size: 1.1rem;
        font-family: var(--mainKor-font);
        color: #808080;
    }
}

.work_item {
  .work_logo {
    width: auto;
    height: 300px;
  }};

@media(max-width: 800px) {
    .progress_bar {display: none;} 
    .mprogress_bar {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: hsla(33, 44%, 95%, .6);
        transform-origin: 0%;
        z-index:-1;
    }

    .work_inner {
        flex-direction: column;
    }
    .tit {
        width: 100%;
        height: auto;
        font-size: 40px;
        line-height: 1.4;
    }
    .work_left {
        position: unset;
        width: auto;
        height: auto;
    }

    .work_right {
        width: 100%;
        padding: 30px 15px;
    }

}