body {
  margin: 0;
  font-family: 'Montserrat','Pretendard',-apple-system , Apple SD Gothic Neo , '맑은 고딕', Malgun Gothic,sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
